<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="bundle.js" charset="utf-8"></script>
</head>
<body>

    <label for="yourId"> Your ID: </label> <br>
    <textarea id="yourId"> </textarea> <br>
    <label for="otherId"> Other ID: </label> <br>
    <textarea id="otherId"> </textarea> <br>
    <button id="connect"> Connect </button> <br>

    <label for="yourMessage" > Enter Message </label> <br>
    <textarea id="yourMessage"></textarea> <br>
    <button id="send"> Send </button> <br>
    <pre id="messages"></pre>
</body>
</html>