<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to THREADs </title>
    <link rel="shortcut icon" href="http://www.images.pajezy.com/notes/thread.png" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

    <script src="../js/main.js"></script>
    <script src="../js/particles.min.js"></script>
</head>
<body>

<nav class="navbar navbar-fixed-top menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"> THREADs </a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#"> Home </a></li>-->
            <li><a href="#">Greetings page</a></li>
            <li><a href="#">About authors</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="registrate.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>


<div class="parallax" id="particles-js">
    <div class="welcome">
        <h1> Success </h1>
        <h3> to verify our account check email that you used for registration </h3>
    </div>
</div>

<div>

</div>

</body>
</html>